body{
    padding: 0;
    margin: 0;
    background-color: white;
    background: url(images/login.jpg);
}
.signupbox{
    margin-top: 60px;
    width: 480px;
    height: 670px;
    background-color: rgba(0, 0, 0, 0.89);
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-sizing: border-box;
    border-radius: 15%;
    padding: 40px 30px;
}
.signupbox h1{
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;

}
.signupbox p{
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}
.signupbox input{
    width: 100%;
}
.signupbox input[type="text"],input[type="password"],input[type="email"],input[type="number"]{
    border: none;
    outline: none;
    border-bottom: 2px solid white;
    background: transparent;
    height: 30px;
    font-size: 15px;
    color: white;
}
.signupbox input[type="Submit"]{
    border: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: white;
    background-color: rgb(236, 33, 33);
    width: 50%;
    height: 40px;
}
.signupbox input[type="Submit"]:hover{
    cursor: pointer;
    background: rgb(172, 73, 73);
    color: darkgray;
}
.signupbox a{
    text-decoration: none;
    color: darkgray;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}
.signupbox a:hover{
    cursor: pointer;
    color: white;
    text-decoration: none;
}